/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import './assets/css/style.css';
/* @import './assets/css/responsive.css'; */

body {
  background: #1a1b20;
}

.top-var{
  top: 0;
  padding: 30px;
}

.avatar{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  right: 30px;
}

.user-meta{
  display: flex;
  flex-direction: column;
}

.user-name {
  text-align: right;
  color: white;
}

.user-number{
  color:#484b52;
  font-size: 14px;
  text-align: right;
}

.avatar-image{
  margin-left: 15px;
  width: 50px;
  height: 50px;
  border: 2px solid #d6e6ff;
}

.welcome-letter{
  display: flex;
  flex-direction: column;
}

.good-moring{
  color: white;
  font-size: 20px;
}

.last-login{
  font-size: 16px;
}
